{# templates/home.html.twig #}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bokksound</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Estilos personalizados */
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
        }

        .container {
            margin-top: 50px;
            text-align: center;
        }

        h1 {
            color: black;
            font-family: 'Times New Roman', Times, serif;
            font-size: 30px; 
        }

        h4{
            color: #343a40;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-align: center;
            font-size: 23px;
        }

        .navbar-brand {
            margin-right: 70px;
        }
        
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand text-white" href="#">Bokksound</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link text-white" href="{{ path('home') }}">Inicio</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-white" href="{{ path('home') }}">Canciones</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-white" href="{{ path('home') }}">Artistas</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
    <h1 class="mt-5">¡BIENVENIDO A BOKKSOUND, LA MEJOR APP DE MÚSICA EN DIRECTO!</h1>
    <img src="../uploads/images/logo.png" alt="logo" style="max-width: 70%;">
    <h4>Aqui podrás escuchar todo tipo de canciones, de cualquier época o año, sea cuál sea tu gusto, en el instante que quieras</h4>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
